html {
    font: 19px/1 "EnvyCodeR Nerd Font Mono", monospace;  
    position: relative;
    background-image: url("./background.jpg");
    background-position: center bottom;
    background-image: no-repeat;
    height: 100%;
}

a {
    color:white;
}

li {
    margin: 15px 0;
}

#toolbar a {
    color:rgb(145, 145, 238)
}

#toolbar a:hover {
    color:black;
}

.container {
    display: flex;
    justify-content: space-between;
}

.con {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 15px;
}

.blog {
}

.main {
}

.stinky {
}

.title {
    font-size: 40px;
    text-decoration-line: underline;
    font-weight: bold;
    display: inline-block;
}

.small {
    padding-top:10px;
    font-size: 12px;
}

.back {
    display: inline-block;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color:white;
    text-decoration: none;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  transform: translate(-50%,-50%);
  background-color:rgba(29, 25, 47, 0.7);
  height: 100%;
  width: 95%;
  color: white;
}

#wrap {
    white-space: nowrap;
    overflow: hidden;
}